
@import "../apc-ui/variable.scss";


.Android .mFeed .pic{-webkit-box-reflect:none;}


.Android .apc-opinion .cF,
.iPhone.old .apc-opinion .cF,
.Android .A.index .aN,
.iPhone.old .A.index .aN
{height:rem(110);}


.Android .P.home.org .mlist.recommend,
.iPhone.old .P.home.org .mlist.recommend
{height:rem(830);padding-top:rem(40);}
