$font-size:16px !default;
// $color_one:#3C8DFF;
// $color_one:#1A56A8;
// $color_one:#2C65DA;
$color_one:#3D73CC;
// $color_one_light:#3775F5;
$color_brown:#E4855E;
// $color_brown_light:#ED9152;
$color_red:#D84D4D;
$color_red_light:#E97A7A;
// $color_red_bright:#D84D4D;
$color_orange:#E68056;
$color_orange_light:#F2A779;
$color_orange_bright:#FF7F29;
$color_yellow:#E2A940;
$color_yellow_light:#E1BE7D;
$color_green:#6BAC5B;
$color_green_light:#8FCF80;
$color_cyan:#45A4A4;
$color_cyan_light:#6DC7C7;
$color_blue:#3D73CC;
$color_blue_light:#70ABE8;
$color_blue_bright:#0063FF;
$color_purple:#AA5BCD;
$color_purple_light:#C487DF;

$color_alipay:#3875F6;
$color_wechat:#B2E34B;

@import "function.scss";
@import "mixin.scss";
